@media (max-width: 480px) {
    .flight-location-select {
        flex-direction: column;
    }

    .locationSet {
        width: 100%;
    }

    /* card section */
    div#cardSection {
        margin: 0;
        padding: 0px;
    }

    .Searchspan {
        flex-direction: column;
    }

    h1.flightHeading {
        text-align: left;
    }

    .searchHeading {
        text-align: center;
        font-size: 12px;
        width: 100%;
    }

    .fligtableCityFilter {
        width: 100%;
        flex-direction: column;
    }

    .custom-select-container {
        width: 100%;
    }

    b {
        font-weight: normal;
    }

    .custom-select-input-1 {
        border-radius: 4px;
    }

    .filter__buton {
        width: 100%;
        margin-top: 10px;
    }

    label {
        font-weight: 400;
    }

    .card_wraper {
        margin-top: 10px;
        
    }

    p.countryName {
        margin: 0 !important;
        font-size: 14px;
    }

    .single__card {
        width: 48% !important;
    }

    /* ticket page */

    div#flightTicketPage {
        flex-direction: column;
    }

    .stopsFilterWrap {
        display: none !important;
    }

    .stopsFilterWrap {
        display: none;
    }

    .doubl_ticket {
        flex-direction: column;
        /* font-size: 10px; */
    }

    .single_ticket {
        padding: 4px;
    }

    .single_ticket {
        padding: 4px;
        flex-direction: column;
    }

    .double_ticket_fragment {
        width: 100% !important;
    }

    .double_ticket_fragment {
        width: 100%;
    }

    div#flightTIcke {
        width: 100%;
    }

    .logoNtime {
        gap: 5px;
    }

    .flightLogo {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }

    .flightTime {
        width: 80%;
    }

    span.stTime.timeStmp {
        font-size: 8px;
    }

    span.stlocation.flghtLocation {
        font-size: 10px;
    }

    svg.LegInfo_planeEnd__ZDkxM {
        width: 13px;
    }

    span.rchTime.timeStmp {
        font-size: 8px;
    }

    span.rchLocatioon.flghtLocation {
        font-size: 10px;
    }

    .ticketPrice {
        border-left: 0;
        padding: 2px;
        /* flex-direction: row; */
        width: 100%;
        padding: 4px;
    }

    span.deallenth {
        font-size: 12px;
    }

    span.totalAmount {
        font-size: 15px;
    }

    span.totalAmount {
        font-size: 15px;
    }

    a {
        text-decoration: none;
    }

    button.pricebutton {
        padding: 2px;
    }


    p.textSelect {
        font-size: 10px;
    }

    button.pricebutton {
        padding: 2px;
        width: 100%;
        border-radius: 5px;
    }


}


@media (max-width: 767px) {
    h1.flightHeading {
        font-size: 15px;
    }

    .inputBox {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    input.radioBtn {
        width: 15px;
        height: 23px;
    }



    .location-toggle {
        display: none;
    }



    div#cardSection {
        margin-top: 20px;
        padding: 5px;
    }

    .Searchspan {
        flex-direction: column;
        gap: 10px;
    }

    .fligtableCityFilter {
        width: 100%;
        /* flex-direction: column; */
        justify-content: left;
    }

    .card_wraper {
        gap: 10px;
    }

    .stopsFilterWrap {
        display: none;
    }

    div#flightTIcke {
        width: 100%;
    }

    .double_ticket_fragment {
        width: 65%;
        padding: 5px;
    }

    .amount__area {

        flex-direction: column;
    }

    .amount__area span {
        font-size: 12px;
    }

    span.stTime.timeStmp,
    span.rchTime.timeStmp {
        font-size: 15px;
    }

    button.pricebutton {
        padding: 5px;
        width: 100%;
    }

    .ticketPrice {
        padding: 5px;
        width: 30%;
    }

    span.deallenth {
        font-size: 15px;
        font-weight: 500;
    }

    h1.flightHeading {
        text-align: center;
    }
}

@media(max-width:990px) {
    .flight-location-select {
        flex-direction: row;
    }

    .locationSet {
        width: 50%;
    }

    .single__card {
        width: 48%;
    }
}

/* @media(min-width:1024px) {
    .locationSet {
        width: 16%;
    }

    .single__card {
        width: 32%;
    }
} */