div#cardSection {
    width: 100%;
    margin-top: 30px;
   
}

.card_wraper {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.single__card {
    width: 30%;
    border-radius: 8px;
    border: 0;
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single__card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.description__area {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

p.countryName {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}

.amount__area {
    display: flex;
    justify-content: space-between;
}

span.taka {
    font-weight: 500;
}

div.Searchspan {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.fligtableCityFilter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__buton {
    border: none;
    width: 100px;
    padding: 6px;
    text-align: center;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: end;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
    border-radius: 4px;
}

.filter__buton:hover {
    background-color: rgb(4, 79, 155);
}

.arrowSvg {
    position: absolute;
    top: 72%;
    /* left: 8px; */
    transform: translateY(-50%);
    right: 16px;
}

.arrowSvg svg {
    width: 20px;
    height: 20px;
    fill: #0a0a0a;
    /* Adjust the fill color as needed */
}


.custom-select-input-1 {
    border: 1px solid #ddd;
    padding: 5px;
}