@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');


div.amount__area>span,
div.description__area>div.stopeg>small,
#caFlyghtSearch>span,
#cardSection>div.Searchspan>div.fligtableCityFilter>div>ul>li,
#travelFrom>div>ul>li,
.custom-select-input,
#caFlyghtSearch div>div>div>div>span,
li.custom-select-option,
p.countryName {
    color: #0a0a0a !important;

}


.custom-select-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .custom-select-input {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;
} */

.custom-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    z-index: 9999;

}

.custom-select-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    list-style: none;

}

.custom-select-option:hover {
    background-color: #f2f2f2;
}

/* --------------------------------------------------------- */
.searchFlightWraper {
    background-color: transparent;
    padding: 10px;
    border: 1px solid #ddd;
}


h1.flightHeading {
    font-size: 18px;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
}

.inputBox {
    display: flex;
    gap: 15px;
}

.inputWraper {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}





/* new design */

.flightLocationInput {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #fff;
}

.flight-location-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.locationSet {
    width: 49%;
}

.locationSet label {
    color: #070606;
}

.locationSet div input,
.locationSet div input[type="submit"] {
    width: 95%;
    padding: 9px 4px;
    border: none;
    outline: 1px solid #ddd;
    background-color: #fff;
    transition: 0.2s ease-in;
    border-radius: 2px;
}

.locationSet div input:focus {
    outline: 1px solid #ddd;
    box-shadow: 0 0 10px #f78da7;
}

input#selectcurrency {
    padding: 10px 4px;
}

.locationSet div input:hover,
input[type="submit"]:hover {
    outline: 1px solid #ddd;
    box-shadow: 0 0 10px #f78da7;
}

.location-toggle {
    display: none;
}

.locationSet.submitBtnWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 15px;
}

.locationSet.submitBtnWrap .submitButtonfirst {

    width: 100% !important;
    padding: 8px 0px !important;
    border: none !important;
    outline: 1px solid #ddd !important;
    background-color: #f78da7 !important;
    border-radius: 2px !important;
    margin-top: 20px;
    color: #222121;
    transition: 0.3s ease-in-out;

}

.locationSet.submitBtnWrap .submitButtonfirst:hover {
    outline: 1px solid #ddd !important;
    background-color: #e63964 !important;
}

input.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {
    padding: 7px 4px !important;
}

.card__image {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.inputBox .inputWraper label {
    color: #000
}