#caTravelFlight {
    height: auto;
    width: 100%;
    background-color: #ffa7a717;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-family: serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#caTravelFlight:hover{
    box-shadow: rgba(0, 0, 0, 0.40) 2px 8px 18px;
    transition: 0.3s ease-in-out;
}

#caTravelFlight .flightHeading {
    font-size: 25px;
    margin: 0;
    width: 100px;
    background-color: hsl(11deg 100% 95.91%);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #676666;
    font-weight: 700;
}
#filteWraper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.search-filter {
    display: flex;
    width: 100%;
}

.flightLocationInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inputBox {
    display: flex;
    gap: 15px;
}

.inputWraper {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
.location-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

input.radioBtn {
    width: 20px;
    height: 20px;
}

.flight-location-select {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locationSet {
    display: flex;
    gap: 2px;
    width: 25%;
    flex-direction: column;
}
form#caFlyghtSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.location-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 40px;
    top: 40%;
    width: 42px;
    border-radius: 50%;
    border: 3px solid #ddd;
    transform: translateX(-50%);
    left: 100%;
    z-index: 99;
    left: 100%;
    color: #fff;
    background-color: #f9fafb;
}

input.inputFild
 {
    border: 2px solid #ddd;
    outline: none;
}
input.inputFild:focus{
    border: 2px solid #9e9e9e;
    transition: 0.3s ease-in-out;
}

.input__padding{
    padding: 10px;
}
form#caFlyghtSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search__buton{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    margin-left: 5px;
    border: none;
}
input#submitBtn {
    border: 2px solid dodgerblue;
    background-color: dodgerblue;
    font-size: 16px;
    border-radius: 5px;
}

input#checkNearby {
    margin-left: 5px;
}
.checkBox__group {
    display: flex;
    justify-content: left;
    align-items: center;
}

.multiCitysection {
    display: flex;
    width: 100%;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

.multiCityWraper {
    display: flex;
    width: 100%;
}

.fieldGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fieldGroup input {
    border: 2px solid #ddd;
    outline: none;
    width: 100%;
}

.fieldGroup input:focus{
    border: 2px solid #9e9e9e;
    transition: 0.3s ease-in-out;
}

span.closeGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    transform: rotate(45deg);
    color: red;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

span.closeGroup:hover {
    color: #953636;
    transition: 0.3s ease-in-out;
}