@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');


.dp__pointer {
    cursor: pointer;
    padding: 12px !important;
}

.custom-select-container {
    position: relative;
    width: 100%;
}

.custom-select-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;
}

.custom-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;

}

.custom-select-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-select-option:hover {
    background-color: #f2f2f2;
}

/* --------------------------------------------------------- */

.searchFlightWraper {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: 1px solid blueviolet;
}

#filteWraper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-filter {
    display: flex;
    width: 100%;
}

.flightLocationInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputBox {
    display: flex;
    gap: 15px;
}

.inputWraper {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.location-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

input.radioBtn {
    width: 20px;
    height: 20px;
}

.flight-location-select {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locationSet {
    display: flex;
    gap: 2px;
    width: 25%;
    flex-direction: column;
}

form#caFlyghtSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.location-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 35px;
    top: 42%;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #d6d6d6;
    transform: translateX(-50%);
    left: 100%;
    z-index: 99;
    left: 100%;
    color: #fff;
    background-color: #ffffff;
}

input.inputFild {
    border: 1px solid #ddd;
    outline: none;
    background-color: #fff;
}

input.inputFild:focus {
    border: 1px solid #d6d6d6;
    transition: 0.3s ease-in-out;
}

.input__padding {
    padding: 10px;
}

form#caFlyghtSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search__buton {
    border: 1px solid #ddd;
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

.search__buton:hover {
    color: blueviolet;
    border: 1px solid blueviolet;
    transition: 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

input#checkNearby {
    margin-left: 5px;
}

.checkBox__group {
    display: flex;
    justify-content: left;
    align-items: center;
}

.multiCitysection {
    display: flex;
    width: 100%;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

.multiCityWraper {
    display: flex;
    width: 100%;
}

.fieldGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fieldGroup input {
    border: 1px solid #d6d6d6;
    outline: none;
    width: 100%;
    background-color: #fff;
}

.fieldGroup input:focus {
    border: 1px solid #d6d6d6;
    transition: 0.3s ease-in-out;
}

span.closeGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transform: rotate(45deg);
    color: rgb(240, 91, 91);
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

span.closeGroup:hover {
    color: #953636;
    transition: 0.3s ease-in-out;
}

div#caFlyghtSearch {
    display: flex;
    flex-direction: column;
    width: 100%;
}